.App {
  text-align: center;
}

.bg-img-main {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/27/Scioto_Mile_aerial_from_north.jpg);
  background-size: cover;
}

.bg-img-minor {
  background-image: url(./kisspng-quetzalcoatlus-pterosaurs-pteranodon-flight-late-c-flying-dinosaurs-pictures-5aaeb2986122f6.2046106215213984243979.png) !important;
  background-size: 150px !important;
  background: no-repeat;
  background-position-x: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
